<!DOCTYPE html>
<html
  class="supports-js supports-js supports-no-touch supports-csstransforms supports-csstransforms3d supports-fontface"
  lang="fr">

<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">



  <!-- Title and description ================================================== -->
  <title>
    HighTech Discount
  </title>



  <!-- Social meta ================================================== -->
  <!-- /snippets/social-meta-tags.liquid -->




  <meta property="og:site_name" content="minimal-modern">
  <meta property="og:url" content="https://minimal-modern.myshopify.com/">
  <meta property="og:title" content="minimal-modern">
  <meta property="og:type" content="website">
  <meta property="og:description" content="minimal-modern">





  <meta name="twitter:site" content="@shopify">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="minimal-modern">
  <meta name="twitter:description" content="minimal-modern">


  <!-- Helpers ================================================== -->
  <link rel="canonical" href="https://minimal-modern.myshopify.com/">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#59756f">

  <!-- CSS ================================================== -->
  <link href="//cdn.shopify.com/s/files/1/2445/4459/t/8/assets/timber.scss.css?v=11889154830459171876" rel="stylesheet"
    type="text/css" media="all">
  <link href="//cdn.shopify.com/s/files/1/2445/4459/t/8/assets/theme.scss.css?v=11791245676168319861" rel="stylesheet"
    type="text/css" media="all">

</head>
  {% block body %}{% endblock %}
  {% block javascript %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  </body>

</html>